.primary {
  &-500 {
    color: #004e4d;
  }
  &-400 {
    color: #00807e;
  }
  &-300 {
    color: #64c3bf;
  }
}
img {
  max-width: 100%;
  height: auto;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
html,
body {
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}

$primary-500: #004e4d;
$primary-400: #00807e;
$primary-300: #64c3bf;

$neutal-600: #757575;
$neutal-500: #9e9e9e;
$neutal-400: #bdbdbd;
$neutal-300: #e0e0e0;
$neutal-200: #eeeeee;
$neutal-100: #f7f7f7;

$bg-c: #fafafa;

@mixin heading() {
  font-weight: bold;
  line-height: 1.2;
}
@mixin label() {
  font-weight: 500;
  color: $primary-400;
}

.H1 {
  font-size: 40px;
  @include heading;
}
.H2 {
  font-size: 32px;
  @include heading;
}
.H3 {
  font-size: 28px;
  @include heading;
}
.H4 {
  font-size: 24px;
  @include heading;
}
.H5 {
  font-size: 20px;
  @include heading;
}
.H6 {
  font-size: 16px;
  @include heading;
}
.fs-lg {
  font-size: 20px;
  line-height: 1.5;
}
.fs-md {
  font-size: 16px;
  line-height: 1.5;
}
.fs-sm {
  font-size: 14px;
  line-height: 1.5;
}
.fs-xs {
  font-size: 12px;
  line-height: 1.5;
}
.label-xl {
  font-size: 32px;
  @include label;
}
.label-lg {
  font-size: 24px;
  @include label;
}
.label-md {
  font-size: 20px;
  @include label;
}
.label-sm {
  font-size: 16px;
  @include label;
}

.container {
  margin: 0 auto;
  background-color: $bg-c;
  padding: 100px 24px;
}
.result-area {
  max-width: 1296px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: block;
  color: white;
  background-color: $primary-400;
  border-radius: 4px;
  padding: 8px 20px;
  margin-top: 24px;
  border: none;
  width: 160px;
  margin-left: auto;
  &:hover {
    background-color: $primary-500;
  }
  @media (max-width: 576px) {
    width: 100%;
  }
}

.ticket-area {
  width: 1076px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
  gap: 24px;
  padding: 65px 110px 48px;
  border-radius: 24px;
  box-shadow: 0 3px 3px 0 rgba(#000000, 0.15);
  @media (max-width: 1298px) {
    width: 80%;
    padding: 48px;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 32px 16px;
  }
}

.img-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.ticket-form {
  width: 40%;
  .title {
    color: $primary-400;
    border-bottom: 3px solid $primary-400;
    margin-bottom: 32px;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-group {
  display: flex;
  flex-direction: column;
}
.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  @media (max-width: 768px) {
    gap: 8px;
  }
}
.alert-message {
  display: flex;
  gap: 8px;
  color: #d95252;
  margin-left: auto;
  p {
    margin: 4px 0;
  }
}
// input box
.input-box-default {
  width: 74%;
  border: none;
  border-bottom: 1px solid $primary-400;
  padding: 8px 12px;
  background-color: $bg-c;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  &:placeholder {
    color: $neutal-500;
  }
}

select {
  appearance: none;
  background-image: url(./img/stepper.svg);
  background-position: right 8px center;
  background-repeat: no-repeat;
  &:placeholder {
    color: $neutal-500;
  }
  &:has(option:checked[value=""]) {
    color: $neutal-500;
  }
}

.search-btn {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
  @media (max-width: 576px) {
    flex-direction: column;
    gap: 10px;
  }
  p {
    color: $neutal-500;
  }
}
.input-box-card {
  width: 300px;
  height: 40px;
  border: 1px solid $neutal-400;
  padding: 8px 12px;
  background-color: $bg-c;
  border-radius: 4px;
  &:placeholder {
    color: $neutal-500;
  }
}

// 卡片區
.card-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  @media (max-width: 576px) {
    justify-content: center;
  }
}
.card {
  width: calc((100% - 48px) / 3);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(black, 0.25);
  cursor: pointer;
  &-img {
    width: 100%;
    object-fit: cover;
    position: relative;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    img {
      width: 100%;
      height: 200px;
    }
  }
  .card-img a {
    height: 200px;
    display: block;
    overflow: hidden;
  }
  &:hover {
    .card-img img {
      transition: 0.3s ease-in;
      transform: scale(1.05);
    }
  }
  @media (max-width: 768px) {
    width: calc((100% - 48px) / 2);
  }
  @media (max-width: 576px) {
    width: calc(100% - 48px);
  }
}
.cardTagArea {
  position: absolute;
  top: -12px;
  left: 0;
  padding: 4px 8px;
  color: white;
  background-color: $primary-300;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cardTagRate {
  position: absolute;
  bottom: -16px;
  left: 0;
  padding: 4px 8px;
  color: white;
  background-color: $primary-400;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.card-body {
  height: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 20px;
}
.card-title {
  color: $primary-400;
  border-bottom: 2px solid $primary-400;
  margin-bottom: 16px;
  a:hover {
    opacity: 0.7;
  }
}
.card-content {
  color: $neutal-600;
}
.card-footer {
  color: $primary-400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  .bi-exclamation-circle-fill {
    color: $primary-400;
  }
  .card-footer-content {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  p {
    display: flex;
    align-items: center;
  }
}
.card-area-none {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: $bg-c;
  p {
    color: $primary-400;
  }
}
